<div class='container'>
  <% if current_user && @general_studies %>
    <h5 class="card-title">General Results </h5>
    <% names_uniq(@general_studies).each do |study_name|%>
      <%= link_to study_name, studies_path(study_name: study_name) %><hr>
    <% end %>
  <% else %>
    <h2>Hacer bonito esto :v</h2>
    <h2>What's Health Plotter?</h2>
    <h2>Objetive </h2>
  <% end %>
</div>
