.container.container-margin
  %figure.image.is-64x64
    = link_to image_tag('logo.png'), new_user_session_path
  .custom-container-welcome
    .tile.is-ancestor
      .tile.is-vertical
        .tile
          .tile.is-parent.is-vertical
            %article.tile.is-child
              %h1.title.is-1.has-text-link Health Plotter
              %p.subtitle.is-6.has-text-link Todos tus laboratorios en un solo lugar
  .tile.is-ancestor.custom-container-images
    .tile.is-parent
      %article.tile.is-child.has-background-grey-lighter.box.custom-border
        %figure.image.is-2by3
          = image_tag 'cloud-computing.svg'
    .tile.is-parent
      %article.tile.is-child.has-background-warning.box.custom-border
        %figure.image.is-2by3
          = image_tag 'line-chart.svg', class: ''
    .tile.is-parent.custom-border
      %article.tile.is-child.has-background-primary.box.custom-border
        %figure.image.is-2by3
          = image_tag 'save.svg'
