<div class='container is-widescreen '>
  <% if current_user && @general_studies %>
    <p class="title is-3">General Results </p>
    <% names_uniq(@general_studies).each do |study_name|%>
      <%= link_to study_name, studies_path(study_name: study_name) %><hr>
    <% end %>
  <% else %>
    <p>Hacer bonito esto :v</p>
    <p>What's Health Plotter?</p>
    <p>Objetive </p>
  <% end %>
</div>
