.container.container-margin
  %p.title.is-3.has-text-link New Result Sheet
  = form_with(model: @result_sheet, local: true) do |f|
    .field
      = f.label :document
      = f.file_field :document, required: true, class: 'is-right is-link box'
    = f.submit 'Create', class:'button is-rounded is-link'
